In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as st

In [25]:
df = pd.read_csv("D:\Data_Sets\hotel_bookings.csv")
df.head(7)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.0,0,0,Check-Out,2015-07-03

In [26]:
#check the number of missing values
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [27]:
def abc(series):
    return series.fillna(st.median(series))



#command to fill the empty cells
df.children = df["children"].transform(abc)

In [28]:
def xyz(series):
    return series.fillna(st.mode(series))



#command to fill the empty cells
df.country = df["country"].transform(xyz)
df.agent = df["agent"].transform(xyz)
df.company = df["company"].transform(xyz)

In [29]:
#check the number of missing values Now
df.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [30]:
df.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [31]:
df.drop(["arrival_date_year","arrival_date_month","arrival_date_week_number","arrival_date_day_of_month","reservation_status","reservation_status_date"], axis = 1, inplace = True)

,hotel,is_canceled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,...,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests
0,Resort Hotel,0,342,0,0,2,0.0,0,BB,PRT,...,C,3,No Deposit,9.0,40.0,0,Transient,0.0,0,0
1,Resort Hotel,0,737,0,0,2,0.0,0,BB,PRT,...,C,4,No Deposit,9.0,40.0,0,Transient,0.0,0,0
2,Resort Hotel,0,7,0,1,1,0.0,0,BB,GBR,...,C,0,No Deposit,9.0,40.0,0,Transient,75.0,0,0
3,Resort Hotel,0,13,0,1,1,0.0,0,BB,GBR,...,A,0,No Deposit,304.0,40.0,0,Transient,75.0,0,0
4,Resort Hotel,0,14,0,2,2,0.0,0,BB,GBR,...,A,0,No Deposit,240.0,40.0,0,Transient,98.0,0,1
5,Resort Hotel,0,14,0,2,2,0.0,0,BB,GBR,...,A,0,No Deposit,240.0,40.0,0,Transient,98.0,0,1
6,Resort Hotel,0,0,0,2,2,0.0,0,BB,PRT,...,C,0,No Deposit,9.0,40.0,0,Transient,107.0,0,0

In [32]:
df.drop(["is_repeated_guest","previous_cancellations","previous_bookings_not_canceled"], axis = 1, inplace = True)
df.head(7)

,hotel,is_canceled,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,...,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests
0,Resort Hotel,0,342,0,0,2,0.0,0,BB,PRT,...,C,3,No Deposit,9.0,40.0,0,Transient,0.0,0,0
1,Resort Hotel,0,737,0,0,2,0.0,0,BB,PRT,...,C,4,No Deposit,9.0,40.0,0,Transient,0.0,0,0
2,Resort Hotel,0,7,0,1,1,0.0,0,BB,GBR,...,C,0,No Deposit,9.0,40.0,0,Transient,75.0,0,0
3,Resort Hotel,0,13,0,1,1,0.0,0,BB,GBR,...,A,0,No Deposit,304.0,40.0,0,Transient,75.0,0,0
4,Resort Hotel,0,14,0,2,2,0.0,0,BB,GBR,...,A,0,No Deposit,240.0,40.0,0,Transient,98.0,0,1
5,Resort Hotel,0,14,0,2,2,0.0,0,BB,GBR,...,A,0,No Deposit,240.0,40.0,0,Transient,98.0,0,1
6,Resort Hotel,0,0,0,2,2,0.0,0,BB,PRT,...,C,0,No Deposit,9.0,40.0,0,Transient,107.0,0,0

In [33]:
df.dtypes

hotel                           object
is_canceled                      int64
lead_time                        int64
stays_in_weekend_nights          int64
stays_in_week_nights             int64
adults                           int64
children                       float64
babies                           int64
meal                            object
country                         object
market_segment                  object
distribution_channel            object
reserved_room_type              object
assigned_room_type              object
booking_changes                  int64
deposit_type                    object
agent                          float64
company                        float64
days_in_waiting_list             int64
customer_type                   object
adr                            float64
required_car_parking_spaces      int64
total_of_special_requests        int64
dtype: object

In [40]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
lbl = LabelEncoder()

In [41]:
df["meal"] = lbl.fit_transform(df["meal"])
df["country"] = lbl.fit_transform(df["country"])
df["market_segment"] = lbl.fit_transform(df["market_segment"])
df["distribution_channel"] = lbl.fit_transform(df["distribution_channel"])
df["reserved_room_type"] = lbl.fit_transform(df["reserved_room_type"])
df["assigned_room_type"] = lbl.fit_transform(df["assigned_room_type"])

In [42]:
df.dtypes

hotel                           object
is_canceled                      int64
lead_time                        int64
stays_in_weekend_nights          int64
stays_in_week_nights             int64
adults                           int64
children                       float64
babies                           int64
meal                             int64
country                          int64
market_segment                   int64
distribution_channel             int64
reserved_room_type               int64
assigned_room_type               int64
booking_changes                  int64
deposit_type                    object
agent                          float64
company                        float64
days_in_waiting_list             int64
customer_type                   object
adr                            float64
required_car_parking_spaces      int64
total_of_special_requests        int64
dtype: object

In [43]:
df[["meal","country","market_segment","distribution_channel","reserved_room_type","assigned_room_type"]]

,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type
0,0,135,3,1,2,2
1,0,135,3,1,2,2
2,0,59,3,1,0,2
3,0,59,2,0,0,0
4,0,59,6,3,0,0
...,...,...,...,...,...,...
119385,0,15,5,3,0,0
119386,0,56,6,3,4,4
119387,0,43,6,3,3,3
119388,0,59,6,3,0,0
119389,2,43,6,3,0,0

In [39]:
pd.get_dummies(df, drop_first = True).shape

(119390, 26)

In [ ]:
ht_enc = OneHotEncoder(categories = "auto")